@model ConventionAdvertise.Models.ConAdViewModel

<body>
    <h2>Upcoming Conventions</h2>
    <br />
    
    @foreach (var con in Model.ConInformations)
    {
        
        if (DateTime.Now.CompareTo(con.StartDate) < 0 || DateTime.Now.CompareTo(con.StartDate) >= 0)
        {
          @Html.Partial("ConAdSummary", con);
          <br />
        }
    }
</body>

